.address-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.city {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.date {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 260px 60px;
    justify-content: center;
    grid-template-rows: 30px auto auto 33px;
}

.show-date-heading {
    padding-bottom: 8px;
}

.show-info-border {
    width: 574px;
    border-bottom: lightgray 1px solid;
    margin: 0 auto;
}

.show-info-container {
    padding-top: 10px;
    line-height: 1.4;
    width: 574px;
    margin: 0 auto;
}

.show-info-container:hover {
    background-color: rgb(248, 248, 248);
}

.show-num {
    grid-column-start: 3;
    grid-column-end: 4;
}

.slight-bold {
    font-weight: 600;
}

.street {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.venue {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.venue-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}