h1 {
	font-size: 2.2em;
	font-family: 'RobotoMono';
	text-transform: uppercase;
	letter-spacing: .2em;
}

@font-face {
	font-family: "RobotoMono";
	src: local("RobotoMono"), url("./fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}