h1 {
	font-size: 2.2em;
	font-family: 'RobotoMono';
	text-transform: uppercase;
	letter-spacing: .2em;
}

#root {
	padding-left: calc(100vw - 100%);
}

@font-face {
	font-family: "RobotoMono";
	src: local("RobotoMono"), url("./fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

@media (max-width: 575px) {
	#root {
		padding-left: 0;
	}
}