html {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

button {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 2.2rem;
	font-family: 'RobotoMono', sans-serif;
	text-transform: uppercase;
	letter-spacing: .44rem;
}

h4 {
	font-size: 1.4rem;
}

#root {
	padding-left: calc(100vw - 100%);
}

@font-face {
	font-family: "RobotoMono";
	src: local("RobotoMono"), url("./fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: "Raleway";
	src: local("Raleway"), url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

@media (max-width: 575px) {
	#root {
		padding-left: 0;
	}
}