.login-box {
    max-width: 350px;
    height: 350px;
    border: black 1px solid;
    margin: 0 auto;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.login-button {
    outline: none;
    transition-duration: 0.3s;
    box-sizing: border-box;
    height: 50px;
    width: 200px;
    border-radius: 0;
    cursor: pointer;
    border: 1px black solid;
    background-color: black;
    overflow: hidden;
    position: relative;
    color: white;
    margin-bottom: 20px;
}

.login-button:hover {
    background-color: white;
    color: black;
}

.login-button:after {
    content: "";
    background: rgb(197, 197, 197);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
  
.login-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.login-input {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    outline:none;
    height: 40px;
}

.login-root {
    padding: 14px;
}