.admin-show-details-div {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.admin-show-info-div {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.admin-user-info-div {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}