.hamburger-div {
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.hamburger-root {
    height: 55px;
    display: flex;
    justify-content: flex-end;
}

#hamburger {
    cursor: pointer;
}